.mainScore {
  position: relative;
  height: 140px;
}
.mainScore .fgs-team {
  display: flex;
  flex-direction: column;
}
.mainScore .fgs-team h2 {
  margin-top: 25px;
  height: calc(100% - 70px);
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .mainScore .fgs-team h2 {
    font-size: 20px;
  }
}
.mainScore .fgs-team:first-child {
  align-content: flex-end;
}
.mainScore .fgs-team:first-child h2 {
  justify-content: flex-end;
}
.mainScore .fgs-team:last-child {
  align-content: flex-start;
}
.mainScore .fgs-team:last-child h2 {
  justify-content: flex-start;
}
.mainScore .fgs-score {
  display: flex;
  flex-direction: column;
}
.mainScore .fgs-score .fgs-timer {
  text-align: center;
  font-size: 17px;
  font-weight: 800;
  color: black;
  height: 25px;
}
.mainScore .fgs-score .fgs-info {
  display: flex;
  height: calc(100% - 70px);
}
.mainScore .fgs-score .fgs-info .fgs-flag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.mainScore .fgs-score .fgs-info .fgs-flag img {
  width: 40px;
}
.mainScore .fgs-score .fgs-info .fgs-goals {
  display: flex;
  width: 60%;
}
.mainScore .fgs-score .fgs-info .fgs-goals div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.mainScore .fgs-score .fgs-info .fgs-goals div:first-child,
.mainScore .fgs-score .fgs-info .fgs-goals div:last-child {
  width: 20%;
}
@media (max-width: 768px) {
  .mainScore .fgs-score .fgs-info .fgs-goals div:first-child,
  .mainScore .fgs-score .fgs-info .fgs-goals div:last-child {
    width: 40%;
  }
}
.mainScore .fgs-score .fgs-info .fgs-goals div:nth-child(2) {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #747474;
}
@media (max-width: 768px) {
  .mainScore .fgs-score .fgs-info .fgs-goals div:nth-child(2) {
    width: 20%;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .mainScore .fgs-score .fgs-info .fgs-goals div {
    font-size: 25px;
  }
}
.mainScore .fgs-place {
  text-align: center;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 600;
  color: #807979;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainScore .otherLogo {
  position: absolute;
  top: 0;
  right: 25px;
}
.mainScore .otherLogo img {
  height: 35px;
}
.tabsFutbol {
  font-size: 32px;
  margin: 30px 0 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c4c4c480;
}
@media (max-width: 768px) {
  .tabsFutbol {
    font-size: 24px;
  }
}
#fgs-tabContent {
  width: 100%;
  margin-bottom: 50px;
}
#fgs-tabContent .fgs-table {
  text-align: center;
}
#fgs-tabContent .fgs-table thead {
  border-bottom: 1px solid #c4c4c480;
}
#fgs-tabContent .fgs-table thead tr th {
  border: 0;
  font-weight: 600;
  font-size: 20px;
  color: #747474;
  height: 50px;
}
#fgs-tabContent .fgs-table thead tr th:first-child,
#fgs-tabContent .fgs-table thead tr th:last-child {
  width: 10%;
}
#fgs-tabContent .fgs-table thead tr th:nth-child(2) {
  width: 80%;
}
#fgs-tabContent .fgs-table tbody tr td {
  border: 0;
  font-weight: 600;
  font-size: 17px;
  height: 50px;
}
#fgs-tabContent .fgs-table tbody tr td:first-child,
#fgs-tabContent .fgs-table tbody tr th:last-child {
  color: #747474;
}
#fgs-tabContent .fgs-table tbody tr td:nth-child(2) {
  color: #747474;
}
@media (max-width: 768px) {
  #fgs-tabContent {
    padding: 0 30px;
  }
}
.fgs-lineup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  height: auto;
  max-height: 1156px;
  margin: auto;
  background-color: #008641;
  position: relative;
}
.fgs-lineup .back {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.fgs-lineup .back > div {
  width: 100%;
  height: 33.33%;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .fgs-lineup .back > div {
    background-size: 125%;
  }
}
.fgs-lineup .back .up {
  top: 0;
  background-image: url(../assent/img/campo-up.svg);
  background-position: top;
}
.fgs-lineup .back .mid {
  top: 33.33%;
  background-image: url(../assent/img/campo-mid.svg);
  background-position: center;
}
.fgs-lineup .back .down {
  bottom: 0;
  background-image: url(../assent/img/campo-down.svg);
  background-position: bottom;
}
.fgs-lineup .fgs-lineup-head,
.fgs-lineup .fgs-lineup-footer {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #00612F;
  color: white;
  z-index: 1;
}
.fgs-lineup .fgs-lineup-head div,
.fgs-lineup .fgs-lineup-footer div {
  display: flex;
  align-items: center;
}
.fgs-lineup .fgs-lineup-head div:first-child,
.fgs-lineup .fgs-lineup-footer div:first-child {
  justify-content: center;
  width: 10%;
}
.fgs-lineup .fgs-lineup-head div:nth-child(2),
.fgs-lineup .fgs-lineup-footer div:nth-child(2) {
  width: calc(90% - 110px);
  padding-left: 20px;
  font-weight: 600;
  font-size: 20px;
}
.fgs-lineup .fgs-lineup-head div:last-child,
.fgs-lineup .fgs-lineup-footer div:last-child {
  width: 90px;
  padding-left: 20px;
  font-weight: 600;
  font-size: 16px;
}
.fgs-lineup .fgs-lineup-body {
  width: 100%;
  height: 840px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.fgs-lineup .fgs-lineup-body .fgs-middle-up,
.fgs-lineup .fgs-lineup-body .fgs-middle-down {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
  padding: 20px 0;
}
.fgs-lineup .fgs-lineup-body .fgs-middle-up > div,
.fgs-lineup .fgs-lineup-body .fgs-middle-down > div {
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}
.fgs-lineup .fgs-lineup-body .fgs-middle-up > div .player,
.fgs-lineup .fgs-lineup-body .fgs-middle-down > div .player {
  width: 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.fgs-lineup .fgs-lineup-body .fgs-middle-up > div .player .number,
.fgs-lineup .fgs-lineup-body .fgs-middle-down > div .player .number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}
.fgs-lineup .fgs-lineup-body .fgs-middle-up > div .player .number .circle,
.fgs-lineup .fgs-lineup-body .fgs-middle-down > div .player .number .circle {
  width: 40px;
  height: 40px;
  background-color: red;
  border: 2px solid white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.fgs-lineup .fgs-lineup-body .fgs-middle-up > div .player .name,
.fgs-lineup .fgs-lineup-body .fgs-middle-down > div .player .name {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fgs-lineup .fgs-lineup-body .fgs-middle-up > div .player .name a,
.fgs-lineup .fgs-lineup-body .fgs-middle-down > div .player .name a {
  color: white;
  font-size: 17px;
  font-weight: 600;
}
.fgs-lineup .fgs-lineup-body .fgs-middle-up > div .player .name a:hover,
.fgs-lineup .fgs-lineup-body .fgs-middle-down > div .player .name a:hover {
  text-decoration: underline;
}
.fgs-lineup .fgs-lineup-body .fgs-middle-down {
  flex-direction: column-reverse;
}
