/*Menu*/
#ab-nav{
	background: @verde;
	.nav-item{
		a{
			color:@verde-claro;
			font-weight: bold;
		}
	}
	.nav-item.active{
		 	a{
				color:white;
				position: relative;
				&:after{
					content:' ';
					position: absolute;
					width: 100%;
					border-bottom: 4px solid @verde-claro;
					bottom: 0;
   					margin-bottom: -8px;
    				left: 0;
    
				}
			}
		}
.ab-social {
	color:@verde-claro;
	font-size: 22px;
	svg{
	margin-left: 10px;
	}
}
}

/*Tabla Superior*/
#ab-tabla-superiro{

	color:@gris-oscuro;
	.col-sm{
		padding-top:15px;
		border-bottom: 1px solid @gris-tablas;
		border-left: 1px solid @gris-tablas;
		p{
			margin-bottom: 5px;
		}
	}
	.ab-tabla-def{
		font-size: 10px;
		color:@gris-claro;
	}
	.vivo{
		color:@verde-claro !important;
		font-weight: bold;
	}
	.ab-tabla-equipo{
		font-weight: bold;
	}
}
