/*Menu*/
#ab-nav{
	background: @verde;
	.nav-item{
		a{
			color:@verde-claro;
			font-weight: bold;
		}
	}
	.nav-item.active{
		a{
			color:white;
			position: relative;
			&:after{
				content:' ';
				position: absolute;
				width: 100%;
				border-bottom: 4px solid @verde-claro;
				bottom: 0;
				margin-bottom: -8px;
				left: 0;

			}
		}
	}
	.ab-social {
		color:@verde-claro;
		font-size: 22px;
		svg{
			margin-left: 10px;
		}
	}
}

.ab-vermas{
	text-decoration: none;
	font-weight: bold;
	color:@gris-oscuro;
	&:hover{
		text-decoration: none;
		color:@verde-claro;
	}
}

/*Tabla Superior*/
#ab-tabla-superiro{

	color:@gris-oscuro;
	.tablilla{
		padding-top:15px;
		border-bottom: 1px solid @gris-tablas;
		border-left: 1px solid @gris-tablas;
		p{
			margin-bottom: 5px;
		}
	}
	.ab-tabla-def{
		font-size: 10px;
		color:@gris-claro;
	}
	.vivo{
		color:@verde-claro !important;
		font-weight: bold;
		a{
			color:@verde-claro !important;
		font-weight: bold;
		text-decoration: none;
		}
	}
	.ab-tabla-equipo{
		font-weight: bold;
	}
}

/*ADS.php*/

#ab-ads{
	margin-top: 5rem;
	margin-bottom: 5rem;
}

/* Tabla de Resultados */
#ab-resultados-page{
	margin-bottom: 4rem;
}
.ab-table-resultados{
	padding-top: 15px;
	
	padding-bottom: 60px;
	
	border:1px solid @gris-claro;
	border-radius: 6px;
	position: relative;

	.ab-ganador{
		&:after{
			content:' ';
			background: url("../assent/img/win.png");
			background-repeat: no-repeat;
			background-size: contain;
			left: -8px;
			top: 5px;
			width: 15px;
			height: 15px;
			color:red;
			position: absolute;
			font-size: 18px;
		}

	}

	.ab-resultados-box{
		font-size: 14px;

	}
	.ab-encabezados{
		font-size: 12px;
		color:@gris-claro;
		padding-top:7px;
		padding-bottom: 7px;

	}
	.ab-equipos-box{
		font-size: 18px;
	}
	.ab-equipos{
		padding-bottom: 7px;
		border-bottom: 1px dotted @gris-claro;
		.ab-img-equipo{
			padding-bottom: 5px;
		}
	}
	.ab-jugadores{
		padding-top: 15px;
		padding-bottom: 35px;
		
		.img-jugador{
			border-radius: 150%;
		}
		.ab-inf-jugador{
			font-size: 14px;
			color:@gris-claro;

			p{
				margin-bottom: 0px;
			}
		}
	}
	.ab-status{
		p{
			margin-bottom: 5px;
		}
		border-bottom: 1px dotted @gris-claro;
	}
	.ab-status-final{
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px dotted @gris-claro;
		position: absolute;
		bottom: 0;
		width: 94%;
	}

	.separador-lateral{
		margin-left: 15px;
		margin-right: 15px;
	}
	
}

/*Footer*/
footer{
	padding-top: 4rem;
	padding-bottom: 8rem;
	color:@blanco;
	a{
		text-decoration: none;
		color:@blanco;
	}
	.menu-footer{
		list-style: none;
		padding:0;
		li{
			float: left;
			margin-right:  15px;
			color:@blanco;
			font-weight: bold;

		}
	}
	.social-botones-footer{
		
		a {
			font-size: 35px !important;
		}
		span{
			line-height: 35px;
		}
	}
}

/*Calendario*/
.fechas-center{
	color:@gris-claro;
	h3{
		font-size: 18px;
		margin-bottom: 0;
	}
	h4{
		font-size: 24px;
	}
}
.slick-active.slick-center{
	color: @verde-claro;
}
.slick-next:before{
	content:"\f0da" !important;
}
.slick-prev:before{
	content:"\f0d9" !important;
}
.slick-prev:before,
.slick-next:before {
	color: black !important;
	z-index: 100;
	font-family: "Font Awesome 5 Free" !important; /* This is the correct font-family*/
	font-style: normal;
	font-weight: 900;
}

.slick-initialized .slick-slide {
	h2{
		font-size: 1.4rem;
	}
}
.fa-calendar.date{
	font-size: 2em;
	color:@verde;
}

.datepicker-days{
	min-width: 18rem;
	.table-condensed{
		min-width: 18rem;
	}
	.old.day, .new.day{
		border-radius: 0px;
		background: #F0F0F0;
	}
	.day{
		border:1px solid #CBCBCB;
	}
}
.datepicker-dropdown{
	min-width: 18rem !important;
	.table-condensed{
		min-width: 18rem !important;
	}	
}

.datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover{
	background-image: linear-gradient(to bottom,#00BE5C,#00BE5C) !important;
	color:@blanco !important;
	border-radius: 0px !important;
}
.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled]{
	background-image: linear-gradient(to bottom,#00BE5C,#00BE5C) !important;
	color:@blanco !important;
	border-radius: 0px !important;
}

/* Pagina Posiciones*/
.form-control{
	color:@gris-claro !important;
	border-color:#CBCBCB75 !important;
}

.ab-regular{
	line-height: 40px;
	color:@gris-claro;
}

.ab-table{
	td{
		color:@gris-claro;
		border-top: 1px dotted #dee2e6 !important;


	}
	img{
		margin-right: 15px;
	}
	.ab-titulos-table{
		th{
			background: rgba(203, 203, 203, 0.5);
			font-size:12px;
			color:@gris-oscuro;
		}
	}
}

.table-hover tbody tr:hover{
	td{
		color:@gris-oscuro;
		font-weight: bold;
	}
}
.ab-average{
	color:@verde-claro !important;
}
.ab-average-fondo{
	background: #c4c4c42b;
}
.ab-title-liga{
	margin-top: 15px;
	color:@gris-oscuro;
	font-weight: bold;
	img{
		max-width: 17px;
	}

}

/* tabla estadisticas bat*/
.ab-box-resultado{
	border:1px solid @gris-tablas;
	padding-top:15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	border-radius: 6px;
	color:@gris-oscuro;
	.ab-title-seccion{
		color:@gris-oscuro;
		font-weight: bold;
		font-size: 24px;
		margin-bottom:  0px;
		padding-bottom: 15px;
		img{
			max-width: 20px !important;
		}

	}
	.ab-img-jugador{
		border-radius: 50%;
	}
}
.ab-img-jugador{
	border-radius: 50%;
}

.ab-box-resultado{
	.ab-nombre-jugador{
		color: @verde;
		font-weight: bold;
	}
	.ab-text-14{
		font-size: 16px !important;
	}
	.ab-numeros{
		font-weight: bold;
		h4{
			font-weight: bold;
		}
	}

	.ab-table-jugador{
		th{
			font-size: 12px;
			color:@gris-claro;
			font-weight: bold;
			border-bottom: 1px solid @gris-tablas;
		}
		td{
			border-top: 1px dotted @gris-tablas ;
			font-size: 14px;
			color:@gris-oscuro;
			padding-top: 1.25rem;
			padding-bottom: 1.25rem;
			padding-left: 0px;
			padding-right: 0px;

			img{
				margin-right: 7px;
			}

		}
	}
}

/* Pagina Equipos*/

#ab-equipos{
	a{
		color:@gris-claro;
	}
	a:hover{
		text-decoration:none;
		color:@gris-oscuro;
	}

	.border{
		border-radius: 6px;

		&:hover{
			border-color:@gris-oscuro;
		}
	}

}
.ab-title-equipos{
	text-decoration: none;
}

/* Tabla equipos interna*/
.ab-title-equipo{
	color:@verde !important;
	font-size: 48px !important;
	font-weight: bold;
}
.ab-subtitulo-equipo{
	color:@gris-claro;
	font-size:36px;
	font-weight: bold;
}

.ab-image-equipo-bg{

	border-radius: 100%
}



.ab-bg-fluid{
	background: #c4c4c421;
	.box-ab-jugador{
		background: @blanco;
	}
}

/* table-roster*/
.ab-table-roster{
	background: @blanco;
	border:1px solid @gris-tablas;
	border-radius: 6px;
	font-color:@gris-oscuro;
	color:@gris-oscuro;
	.ab-title-seccion{

		font-weight: bold;
		font-size: 24px;
		margin-bottom:  0px;
		padding-bottom: 15px;
	}
}

.ab-table-roster-interna{
	td{
		border-top: 1px dotted #dee2e6 !important;
		border:0;
		color: #C4C4C4;
	}
	th{
		font-size: 14px;
		color: #747474;
		background: rgba(203, 203, 203, 0.5);
	}
	a{
		color:@gris-oscuro;
		&:hover{
			text-decoration:none !important;
			color:@verde-claro;
		}
	}
}

/* Tabs*/
.ab-tabs{
	border-bottom: 0px !important;
	.nav-item.show .nav-link, .nav-link.active{
		color:@verde-claro !important;
		font-weight: bold;
		border-bottom: 4px solid @verde-claro !important;
		border-top: 0px !important;
		border-left: 0px !important;
		border-right: 0px !important;
	}
	.nav-link{
		border-bottom: 4px solid transparent !important;
		color:@gris-claro;
		border-top: 0px !important;
		border-left: 0px !important;
		border-right: 0px !important;
	}
	.nav-link:focus, .nav-link:hover{
		border-bottom: 4px solid @verde-claro !important;
		border-top: 0px !important;
		border-left: 0px !important;
		border-right: 0px !important;
		color:@gris-claro;

	}
}

.ab-info-jugador{
	p{
		margin-bottom: 0px !important;
		font-size: 15px;
		color:@gris-oscuro;
		span{
			font-weight: bold;

		}
	}
}
.ab-total{
	td{
		background: rgba(0, 190, 92, 0.2);
		color:@gris-oscuro;
		font-weight: bold;
	}
}
.ab-table-roster-interna.split{
	thead{
		margin-top:15px;
	}
}


/*Boxcore*/

.ab-table-boxcore{
	font-size: 12px !important;
	border-radius: 4px !important;
	color:@gris-claro;
	th{
		border-top:0px !important;
		color:@gris-oscuro;
	}
	td{
		color:@gris-claro;
		border-top:1px dotted @gris-tablas !important;
	}
}

.ab-boxcore-circle{
	color:rgba(203, 203, 203, 0.5);
	font-size: 12px;
}
.ab-boxcore-circle.active{
	color:@verde-claro;
}
.ab-boxcore-circle.ab-verde{
	color:@verde-claro;
}
.ab-boxcore-circle.ab-rojo{
	color:@rojo;
}
.ab-boxcore-circle.ab-azul{
	color:@azul;
}
.ab-jugadores-boxcore{
	font-size: 12px;
}
.ab-gamecast{
	border-radius: 6px;
	.border-bottom{
		border-bottom: 1px dotted  @gris-claro !important;
	}
}
.divisor{
	border-bottom: 1px dotted  @gris-claro;
	height: 1px;
	width: 100%;
}
.ab-table-roster.ab-boxcore {
	.ab-title-seccion-boxcore{
		background: rgba(196, 196, 196, 0.2);
		font-weight: bold;
		border:none !important;
		color:@gris-oscuro;
	}
	p{
		border-bottom:1px dotted @gris-tablas;
		img{
			margin-right:5px;
			border-radius: 100%;
		}
		color:@gris-claro;
		span, b{
			color:@gris-oscuro;
		}
	}
}


/*Gamecast*/


.ab-gamecast{
	font-size: 14px;
	color:@gris-oscuro;
	.ab-vs{
		font-size: 12px;
		color:@gris-claro;
	}
	.ab-equipos-logos{
		font-size: 24px;
		color:@gris-claro;
		font-weight: bold;
		img{
			margin-right: 7px; 
			max-width: 20px !important;
		}
		.ab-carreras{
			color:@gris-oscuro;
		}
	}
	.ab-number-jugada{
		height: 25px;
		width: 25px;
		padding: 2px;
		border-radius: 50%;
		display: inline-block;
		color:@blanco;
	}
	.azul{
		background: #4C9BEA;
	}
	.rojo{
		background: #E50000;
	}
	.verde{
		background: #00BE5C;
	}
	.ab-avg{
		font-size: 10px;
		font-color:@gris-claro;
	}
}
.ab-table-gamecast{
	th{
		background:@gris-oscuro;
		color:@blanco;
	}
}
.ab-bat-pit{
	font-size: 12px;
	color:@gris-claro;
}
.ab-nombre-jugador-game{
	font-size: 18px;
	color:@gris-oscuro;
	font-weight: bold;
}
.border-bottom-gamecast{
	border-bottom: 1px dotted @gris-claro;

}

.ab-totales-game{
	td{
		color:@gris-oscuro;
		font-weight: bold;

		background: rgba(203, 203, 203, 0.5);
	}
}
.border-transparente{
	border-top: solid 15px white;
}

