/*Colores*/
/* Fonts*/
@media (min-width: 1200px) {
  .container-ab {
    max-width: 1200px !important;
  }
}
body {
  font-family: 'Roboto Condensed', sans-serif !important;
}
/*Color texto*/
.verde {
  color: #008641;
}
.rojo {
  color: #e50000;
}
.gris-oscuro {
  color: #747474;
}
.gris-oscuro a {
  color: #747474;
}
.gris-claro {
  color: #8a8a8a;
}
.verde-claro {
  color: #00be5c;
}
.bg-verde {
  background: #008641;
}
.bg-gris-tablas {
  background: rgba(203, 203, 203, 0.5);
}
.bg-verde-claro {
  background: #00be5c;
}
.blanco {
  color: #ffffff;
}
/*botonera*/
.btn-verde {
  background: #00be5c !important;
  border-color: #00be5c !important;
  color: #ffffff !important;
  font-weight: bold;
}
.btn-verde:hover {
  background: #008641 !important;
  border-color: #008641 !important;
}
.ab-todos {
  color: #747474;
  font-weight: bold;
  text-decoration: none;
}
.ab-todos:hover {
  color: #00be5c;
  text-decoration: none;
}
/* Alineación*/
.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Texto*/
.ab-title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: #747474;
}
.tooltip-inner {
  background-color: #ffffff !important;
  border: 1px solid #00be5c !important;
  color: #00be5c !important;
}
